<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      rel="stylesheet"
    />
    <title>Document</title>
    <style>
        td{
            padding: 20px;
        }
    </style>
</head>
<body>
    <table border="2" cellspacing="0" cellpadding="0">
        <tr>
            <td>Bus No</td>
            <td>From</td>
            <td>To</td>
            <td>Time</td>
            <td>Driver Name</td>
        </tr>

        <% schedules.forEach(function(schedule){ %>

        <tr>
            <td>
                <%-schedule.Bus_No %>
            </td>
            <td>
                <%-schedule.From %>
            </td>
            <td>
                <%-schedule.To %>
            </td>
            <td>
                <%-schedule.Time %>
            </td>
            <td>
                <%-schedule.Name %>
            </td>
        </tr>
        <% }); %>

    </table>

    <script src="/js/bootstrap.min.js"></script>
</body>
</html>